## Chapter 4

### Type as the base class for everything

In [1]:
class testForType:
    pass

In [2]:
type(testForType)

type

In [3]:
type(int)

type

In [4]:
type(str)

type

In [5]:
type(object)

type

In [6]:
type(float)

type

In [7]:
type(list)

type

### Structure of a meta class

In [8]:
class ExampleMetaClass1(type):
    def __new__(classitself, *args):
        print('class itself: ', classitself)
        print('Others: ', args)
        return type.__new__(classitself, *args)

In [9]:
class ExampleClass1(metaclass = ExampleMetaClass1):    
    int1 = 123
    str1 = 'test'
    
    def test():
        print('test')

class itself:  <class '__main__.ExampleMetaClass1'>
Others:  ('ExampleClass1', (), {'__module__': '__main__', '__qualname__': 'ExampleClass1', 'int1': 123, 'str1': 'test', 'test': <function ExampleClass1.test at 0x0000022A70DCADC0>})

#### Analysing the arguments

In [10]:
class ExampleMetaClass2(type):
    def __new__(classitself, classname, baseclasses, attributes):
        print('class itself: ', classitself)
        print('class name: ', classname)
        print('parent class list: ', baseclasses)
        print('attribute list: ', attributes)
        return type.__new__(classitself, classname, baseclasses, attributes)

In [11]:
class ExampleParentClass1():    
       def test1():
            print('parent1 - test1')

In [12]:
class ExampleParentClass2():    
       def test2():
            print('parent2 - test2')

In [13]:
class ExampleClass2(ExampleParentClass1,ExampleParentClass2, metaclass = ExampleMetaClass2):    
    int1 = 123
    str1 = 'test'
    
    def test3():
        print('child1 - test3')

class itself:  <class '__main__.ExampleMetaClass2'>
class name:  ExampleClass2
parent class list:  (<class '__main__.ExampleParentClass1'>, <class '__main__.ExampleParentClass2'>)
attribute list:  {'__module__': '__main__', '__qualname__': 'ExampleClass2', 'int1': 123, 'str1': 'test', 'test3': <function ExampleClass2.test3 at 0x0000022A70E0E1F0>}

In [14]:
type(ExampleParentClass1)

type

In [15]:
type(ExampleParentClass2)

type

In [16]:
type(ExampleMetaClass2)

type

In [17]:
type(ExampleClass2)

__main__.ExampleMetaClass2

### Application of meta classes

In [18]:
class BranchMetaclass(type):
    def __new__(classitself, classname, baseclasses, attributes):
        import inspect
        newattributes = {}
        for attribute, value in attributes.items():
            if attribute.startswith("__"):
                newattributes[attribute] = value
            elif inspect.isfunction(value):
                newattributes['branch' + attribute.title()] = value
            else:
                newattributes[attribute] = value
        return type.__new__(classitself, classname, baseclasses, newattributes)
    
    def buyProduct(product,unitprice,quantity,statetaxrate,promotiontype):
        statetaxrate = statetaxrate        
        initialprice = unitprice*quantity 
        salesprice = initialprice + initialprice*statetaxrate
        return salesprice, product,promotiontype

In [19]:
class Brooklyn(metaclass = BranchMetaclass):
    productID = 100902
    productName = 'Iphone X'
    productCategory = 'Electronics'
    unitPrice = 700
    
    def maintenanceCost(self,productType, quantity):
        self.productType = productType
        self.quantity = quantity
        coldstorageCost = 100
        if (productType == 'Electronics'):
            maintenanceCost = self.quantity * 0.25 + coldstorageCost    
            return maintenanceCost
        else:
            return "We don't stock this product"

In [20]:
brooklyn = Brooklyn()

In [21]:
dir(Brooklyn)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'branchMaintenancecost',
 'productCategory',
 'productID',
 'productName',
 'unitPrice']

In [22]:
brooklyn.branchMaintenancecost('Electronics',10)

102.5

In [23]:
brooklyn.productID

100902

In [24]:
brooklyn.productName

'Iphone X'

In [25]:
brooklyn.productType

'Electronics'

#### Inherit the Meta class

In [26]:
class Queens(BranchMetaclass):
    def maintenanceCost(productType, quantity):
        productType = productType
        quantity = quantity
        if (productType == 'FMCG'):
            maintenanceCost = quantity * 0.05
            return maintenanceCost
        else:
            return "We don't stock this product"

In [27]:
queens = Queens()

TypeError: __new__() missing 3 required positional arguments: 'classname', 'baseclasses', and 'attributes'

In [28]:
Queens.maintenanceCost('FMCG',120)

6.0

In [29]:
Queens.buyProduct('Iphone',1000,1,0.04,None)

(1040.0, 'Iphone', None)

#### Inheriting as Parent and Meta class

In [30]:
class Queens(BranchMetaclass, metaclass = BranchMetaclass):
    def maintenanceCost(productType, quantity):
        productType = productType
        quantity = quantity
        if (productType == 'FMCG'):
            maintenanceCost = quantity * 0.05
            return maintenanceCost
        else:
            return "We don't stock this product"

In [31]:
Queens.branchMaintenancecost('FMCG',2340)

117.0

In [32]:
Queens.buyProduct('Iphone',1500,1,0.043,None)

(1564.5, 'Iphone', None)

### Switching Meta classes

In [33]:
class IncomeStatementMetaClass(type):
    def __new__(classitself, classname, baseclasses, attributes):
        
        newattributes = {}
        for attribute, value in attributes.items():
            if attribute.startswith("__"):
                newattributes[attribute] = value
            elif ("revenue" in attribute) or \
            ("expense" in attribute) or \
            ("profit" in attribute) or \
            ("loss" in attribute):
                newattributes['IncomeStatement_' + attribute.title()] = value
            else:
                newattributes[attribute] = value
        return type.__new__(classitself, classname, baseclasses, newattributes)

In [34]:
class BalanceSheetMetaClass(type):
    def __new__(classitself, classname, baseclasses, attributes):
        
        newattributes = {}
        for attribute, value in attributes.items():
            if attribute.startswith("__"):
                newattributes[attribute] = value
            elif ("assets" in attribute) or \
            ("liabilities" in attribute) or \
            ("goodwill" in attribute) or \
            ("cash" in attribute):
                newattributes['BalanceSheet_' + attribute.title()] = value
            else:
                newattributes[attribute] = value
        return type.__new__(classitself, classname, baseclasses, newattributes)

In [35]:
class Malibu:
    profit = 4354365
    loss = 43000
    assets = 15000
    liabilities = 4000
    def calc_revenue(quantity,unitsalesprice):
        totalrevenue = quantity * unitsaleprice 
        return totalrevenue
    
    def calc_expense(totalrevenue,netincome, netloss):
        totalexpense = totalrevenue - (netincome + netloss)
        return totalexpense  
    
    def calc_totalassets(cash,inventory,accountsreceivable):
        totalassets = cash + inventory + accountsreceivable
        return totalassets
    
    def calc_totalliabilities(debt,accruedexpense,accountspayable):
        totalliabilities = debt + accruedexpense + accountspayable
        return totalliabilities

In [ ]:
Malibu.

In [36]:
class Malibu(metaclass = IncomeStatementMetaClass):
    profit = 4354365
    loss = 43000
    assets = 15000
    liabilities = 4000
    def calc_revenue(quantity,unitsalesprice):
        totalrevenue = quantity * unitsaleprice 
        return totalrevenue
    
    def calc_expense(totalrevenue,netincome, netloss):
        totalexpense = totalrevenue - (netincome + netloss)
        return totalexpense  
    
    def calc_totalassets(cash,inventory,accountsreceivable):
        totalassets = cash + inventory + accountsreceivable
        return totalassets
    
    def calc_totalliabilities(debt,accruedexpense,accountspayable):
        totalliabilities = debt + accruedexpense + accountspayable
        return totalliabilities

In [ ]:
Malibu.

In [37]:
class Malibu(metaclass = BalanceSheetMetaClass):
    profit = 4354365
    loss = 43000
    assets = 15000
    liabilities = 4000
    def calc_revenue(quantity,unitsalesprice):
        totalrevenue = quantity * unitsaleprice 
        return totalrevenue
    
    def calc_expense(totalrevenue,netincome, netloss):
        totalexpense = totalrevenue - (netincome + netloss)
        return totalexpense  
    
    def calc_totalassets(cash,inventory,accountsreceivable):
        totalassets = cash + inventory + accountsreceivable
        return totalassets
    
    def calc_totalliabilities(debt,accruedexpense,accountspayable):
        totalliabilities = debt + accruedexpense + accountspayable
        return totalliabilities

In [ ]:
Malibu.

### Inheritance in Meta classes

In [38]:
class California(metaclass = IncomeStatementMetaClass):
    profit = 4354365
    loss = 43000
    def calc_revenue(quantity,unitsalesprice):
        totalrevenue = quantity * unitsaleprice 
        return totalrevenue
    
    def calc_expense(totalrevenue,netincome, netloss):
        totalexpense = totalrevenue - (netincome + netloss)
        return totalexpense

In [39]:
class Pasadena(California,metaclass = BalanceSheetMetaClass):
    assets = 18000
    liabilities = 5000
    def calc_totalassets(cash,inventory,accountsreceivable):
        totalassets = cash + inventory + accountsreceivable
        return totalassets
    
    def calc_totalliabilities(debt,accruedexpense,accountspayable):
        totalliabilities = debt + accruedexpense + accountspayable
        return totalliabilities

TypeError: metaclass conflict: the metaclass of a derived class must be a (non-strict) subclass of the metaclasses of all its bases

In [40]:
class BalanceSheetMetaClass(IncomeStatementMetaClass):
    def __new__(classitself, classname, baseclasses, attributes):
        
        newattributes = {}
        for attribute, value in attributes.items():
            if attribute.startswith("__"):
                newattributes[attribute] = value
            elif ("assets" in attribute) or \
            ("liabilities" in attribute) or \
            ("goodwill" in attribute) or \
            ("cash" in attribute):
                newattributes['BalanceSheet_' + attribute.title()] = value
            else:
                newattributes[attribute] = value
        return type.__new__(classitself, classname, baseclasses, newattributes)

In [41]:
class California(metaclass = IncomeStatementMetaClass):
    profit = 4354365
    loss = 43000
    def calc_revenue(quantity,unitsalesprice):
        totalrevenue = quantity * unitsaleprice 
        return totalrevenue
    
    def calc_expense(totalrevenue,netincome, netloss):
        totalexpense = totalrevenue - (netincome + netloss)
        return totalexpense

In [42]:
class Pasadena(California,metaclass = BalanceSheetMetaClass):
    assets = 18000
    liabilities = 5000
    def calc_totalassets(cash,inventory,accountsreceivable):
        totalassets = cash + inventory + accountsreceivable
        return totalassets
    
    def calc_totalliabilities(debt,accruedexpense,accountspayable):
        totalliabilities = debt + accruedexpense + accountspayable
        return totalliabilities

In [ ]:
Pasadena.

### Manipulating class variables

In [43]:
class SchemaMetaClass(type):
    def __new__(classitself, classname, baseclasses, attributes):
        
        newattributes = {}
        for attribute, value in attributes.items():
            if attribute.startswith("__"):
                newattributes[attribute] = value
            elif type(value)==int or type(value)==float:
                newattributes[attribute] = {}
                newattributes[attribute]['ColumnName'] = attribute.title()
                newattributes[attribute]['Value'] = value
                newattributes[attribute]['Type'] = 'NUMERIC'
                newattributes[attribute]['Length'] = len(str(value))
            elif type(value)==str:
                newattributes[attribute] = {}
                newattributes[attribute]['ColumnName'] = attribute.title()
                newattributes[attribute]['Value'] = value
                newattributes[attribute]['Type'] = 'VARCHAR'
                newattributes[attribute]['Length'] = len(value)
            elif type(value)==bool:
                newattributes[attribute] = {}
                newattributes[attribute]['ColumnName'] = attribute.title()
                newattributes[attribute]['Value'] = value
                newattributes[attribute]['Type'] = 'BOOLEAN'
                newattributes[attribute]['Length'] = None
            else:
                newattributes[attribute] = value                
        return type.__new__(classitself, classname, baseclasses, newattributes)

In [44]:
class Arizona():
    productID = 200443
    productName = 'Iphone'
    productCategory = 'Electronics'
    salesQuantity = 2
    taxRate = 0.05
    salesPrice = 1200
    profit = 70
    loss = 0
    salesMargin = 0.1
    promotion = '20%Off'
    promotionReason = 'New Year'  
    inStock = True
    
    def create_schema(self):
        import pandas as pd
        tableschema = pd.DataFrame([self.productID,
                                     self.productName,
                                     self.productCategory,
                                     self.salesQuantity,
                                     self.taxRate,
                                     self.salesPrice,
                                     self.profit,
                                     self.loss,
                                     self.salesMargin,
                                     self.promotion,
                                     self.promotionReason,
                                     self.inStock])
        tableschema.drop(labels = ['Value'], axis = 1, inplace = True)
        return tableschema

In [45]:
objarizona = Arizona()

In [46]:
objarizona.productName

'Iphone'

In [47]:
class Arizona(metaclass = SchemaMetaClass):
    productID = 200443
    productName = 'Iphone'
    productCategory = 'Electronics'
    salesQuantity = 2
    taxRate = 0.05
    salesPrice = 1200
    profit = 70
    loss = 0
    salesMargin = 0.1
    promotion = '20%Off'
    promotionReason = 'New Year'  
    inStock = True
    
    def create_schema(self):
        import pandas as pd
        tableschema = pd.DataFrame([self.productID,
                                     self.productName,
                                     self.productCategory,
                                     self.salesQuantity,
                                     self.taxRate,
                                     self.salesPrice,
                                     self.profit,
                                     self.loss,
                                     self.salesMargin,
                                     self.promotion,
                                     self.promotionReason,
                                     self.inStock])
        tableschema.drop(labels = ['Value'], axis = 1, inplace = True)
        return tableschema

In [48]:
objarizona = Arizona()

In [49]:
objarizona.productName

{'ColumnName': 'Productname',
 'Value': 'Iphone',
 'Type': 'VARCHAR',
 'Length': 6}

In [50]:
objarizona.productCategory

{'ColumnName': 'Productcategory',
 'Value': 'Electronics',
 'Type': 'VARCHAR',
 'Length': 11}

In [51]:
objarizona.salesQuantity

{'ColumnName': 'Salesquantity', 'Value': 2, 'Type': 'NUMERIC', 'Length': 1}

In [52]:
objarizona.taxRate

{'ColumnName': 'Taxrate', 'Value': 0.05, 'Type': 'NUMERIC', 'Length': 4}

In [53]:
objarizona.create_schema()

         ColumnName     Type  Length
0         Productid  NUMERIC     6.0
1       Productname  VARCHAR     6.0
2   Productcategory  VARCHAR    11.0
3     Salesquantity  NUMERIC     1.0
4           Taxrate  NUMERIC     4.0
5        Salesprice  NUMERIC     4.0
6            Profit  NUMERIC     2.0
7              Loss  NUMERIC     1.0
8       Salesmargin  NUMERIC     3.0
9         Promotion  VARCHAR     6.0
10  Promotionreason  VARCHAR     8.0
11          Instock  BOOLEAN     NaN

### These are all the examples covered in Chapter 4