In [1]:
import pandas as pd

In [2]:
auto = pd.read_csv("automobile.csv")

In [3]:
auto_truncated = auto.copy(deep=True)

In [4]:
auto_truncated.drop_duplicates(subset = ['make','body-style'], inplace = True)

In [5]:
auto_truncated.reset_index(inplace = True, drop = True)

In [6]:
auto_truncated['make'] = auto_truncated['make'].apply(lambda x: x.title().replace('-',''))

In [7]:
auto_truncated.reset_index(inplace = True)

In [8]:
auto_truncated['index'] = auto_truncated['index'].astype('str')

In [9]:
auto_truncated['make'] = auto_truncated['make'] + auto_truncated['index']

In [10]:
auto_specs = auto_truncated[['make', 'fuel-type', 'aspiration', 'num-of-doors', 'drive-wheels', 'wheel-base',
               'length', 'width', 'height', 'curb-weight', 'fuel-system', 'city-mpg', 
               'highway-mpg', 'price']].copy(deep = True)

In [11]:
auto_specs.columns = ['classname', 'fuel_type', 'aspiration', 'num_of_door', 'drive_wheels',
                      'wheel_base', 'length', 'width', 'height', 'curb_weight', 'fuel_system',
                      'city_mpg', 'highway_mpg', 'price' ]

In [12]:
for col in auto_specs.columns:
    auto_specs[col] = auto_specs[col].astype('str')

In [13]:
auto_truncated['body-style'] = auto_truncated['body-style'].apply(lambda x: x.title().replace('-',''))

In [14]:
auto_truncated['body-style'] = auto_truncated['body-style'] + auto_truncated['index']

In [15]:
auto_features = auto_truncated[['body-style', 'engine-location', 'engine-type', 'num-of-cylinders', 'engine-size', 'bore',
               'stroke', 'compression-ratio', 'horsepower', 'peak-rpm']].copy(deep = True)

In [16]:
auto_features.columns = ['classname', 'engine_location', 'engine_type', 'num_of_cylinders', 
                         'engine_size', 'bore', 'stroke', 'compression_ratio', 'horse_power', 
                         'peak_rpm']

In [17]:
for col in auto_features.columns:
    auto_features[col] = auto_features[col].astype('str')

In [19]:
auto_specs.shape

(56, 14)

In [18]:
auto_specs.sample(5)

,classname,fuel_type,aspiration,num_of_door,drive_wheels,wheel_base,length,width,height,curb_weight,fuel_system,city_mpg,highway_mpg,price
12,Honda12,gas,std,four,fwd,96.5,163.4,64.0,54.5,2010,1bbl,30,34,7295
49,Toyota49,gas,std,two,rwd,98.4,176.2,65.6,53.0,2975,mpfi,24,30,17669
54,Volvo54,gas,std,four,rwd,104.3,188.8,67.2,56.2,2912,mpfi,23,28,12940
25,Mitsubishi25,gas,std,four,fwd,96.3,172.4,65.4,51.6,2365,2bbl,25,32,6989
11,Honda11,gas,std,two,fwd,86.6,144.6,63.9,50.8,1713,1bbl,49,54,6479

In [20]:
auto_features.shape

(56, 10)

In [19]:
auto_features.sample(5)

,classname,engine_location,engine_type,num_of_cylinders,engine_size,bore,stroke,compression_ratio,horse_power,peak_rpm
13,Wagon13,front,ohc,four,92,2.92,3.41,9.2,76,6000
9,Sedan9,front,ohc,four,90,2.97,3.23,9.4,68,5500
16,Sedan16,front,dohc,six,258,3.63,4.17,8.1,176,4750
5,Sedan5,front,ohc,four,108,3.5,2.8,8.8,101,5800
18,Sedan18,front,ohc,four,91,3.03,3.15,9.0,68,5000

In [20]:
from codegenerator import CodeGenerator

In [21]:
codegen = CodeGenerator()

In [22]:
def generatelib():
    codegen.generate_meta()
    codegen.generate_car_catalogue()
    codegen.generate_carmake_code()
    codegen.generate_bodystyle_parent()
    codegen.generate_salestype_code()
    codegen.generate_newsale_code()
    codegen.generate_resale_code()
    for index, row in auto_specs.iterrows():
        carspecs = dict(row)
        classname = carspecs['classname']
        del carspecs['classname']
        codegen.generate_car_code(classname = classname, carspecs = carspecs)

    for index, row in auto_features.iterrows():
        carfeatures = dict(row)
        classname = carfeatures['classname']
        del carfeatures['classname']
        codegen.generate_bodystyle_code(classname = classname, carfeatures = carfeatures)

In [23]:
from contextlib import redirect_stdout
with open('abccaragencylib.py', 'w') as code:
    with redirect_stdout(code):
        generatelib()
code.close()