## Chapter 5

### Using the built-in function - id

In [1]:
class Billing:
    def __init__(self,product_name,unit_price,quantity,tax):
        self.product_name = product_name
        self.unit_price = unit_price
        self.quantity = quantity
        self.tax = tax
        
    def generate_bill(self):
        total = self.unit_price * self.quantity 
        final_total = total + total*self.tax
        print('***********------------------**************')
        print('Product:', self.product_name)
        print('Total:',final_total)
        print('***********------------------**************')

In [2]:
billing = Billing('Delmonte Cheese',6,4,0.054)

In [3]:
billing.generate_bill()

***********------------------**************
Product: Delmonte Cheese
Total: 25.296
***********------------------**************

In [4]:
def generate_bill(product_name,unit_price,quantity,tax):
    total = unit_price * quantity 
    final_total = total + total*tax
    print('***********------------------**************')
    print('Product:', product_name)
    print('Total:',final_total)
    print('***********------------------**************')

In [5]:
Invoicing = Billing

In [6]:
Invoicing('Delmonte Cheese',6,4,0.054)

In [7]:
id(Billing)

2403272084160

In [8]:
id(Invoicing)

2403272084160

In [9]:
id(generate_bill)

2403299354512

### Debug unintentional assignments using id

In [10]:
class_id_count = {}
duplicates = []
ids = []
classes = []
classnames = []
for obj in dir():
    if type(eval(obj)) == type:
        ids.append(id(eval(obj)))
        classes.append(eval(obj))
        classnames.append(obj)

for i in ids:
    if i not in class_id_count:
        class_id_count[i] = 1
    elif (class_id_count[i] == 1):
        duplicates.append(i)
        class_id_count[i] += 1

for cls,clsname in zip(classes,classnames):
    for clsid in duplicates:
        if (id(cls)==clsid):
            print(clsname,cls)

Billing <class '__main__.Billing'>
Invoicing <class '__main__.Billing'>

In [11]:
class_id_count

{2403272084160: 2}

In [12]:
duplicates

[2403272084160]

In [13]:
ids

[2403272084160, 2403272084160]

In [14]:
classes

[__main__.Billing, __main__.Billing]

In [15]:
classnames

['Billing', 'Invoicing']

### Find if an object is callable

In [16]:
import product

In [17]:
prodobj = product.Product()

In [18]:
callable(product.Product)

True

In [19]:
callable(prodobj)

False

In [20]:
prodobj.product_id = 12009

In [21]:
if callable(prodobj.get_product):
    print(prodobj.get_product())
else:
    print("This object is not callable")

(100902, 'Iphone X', 'Electronics', 700)

In [22]:
if callable(prodobj):
    print(prodobj)
else:
    print('This is not a method')

This is not a method

### Check if object has attribute

In [23]:
class Inventory:
    def __init__(self,product_id,product_name,date,unit_price,quantity,unit_discount,tax):  
        self.product_id = product_id
        self.product_name = product_name
        self.date = date
        self.unit_price = unit_price
        self.quantity = quantity
        self.unit_discount = unit_discount
        self.tax = tax
    
    def calc_amount_before_tax(self,quantity=None,unit_price=None,
                            unit_discount=None):
        if (quantity is None):
            self.quantity = self.quantity
        else:
            self.quantity = quantity
            
        if (unit_price is None):
            self.unit_price = self.unit_price
        else:
            self.unit_price = unit_price
        
        if (unit_discount is None):
            self.unit_discount = self.unit_discount
        else:
            self.unit_discount = unit_discount
        amount_before_tax = self.quantity * (self.unit_price - self.unit_discount)
        return amount_before_tax
        
    def calc_amount_after_tax(self, quantity=None,unit_price=None,
                           unit_discount=None,tax=None):
        if (quantity is None):
            self.quantity = self.quantity
        else:
            self.quantity = quantity
            
        if (unit_price is None):
            self.unit_price = self.unit_price
        else:
            self.unit_price = unit_price
        
        if (unit_discount is None):
            self.unit_discount = self.unit_discount
        else:
            self.unit_discount = unit_discount
            
        if (tax is None):
            self.tax = self.tax
        else:
            self.tax = tax
        amount_after_tax = self.calc_amount_before_tax(self.quantity,self.unit_price,
                                                  self.unit_discount) + self.tax
        return amount_after_tax
        
    def return_inventory(self):
        import pandas as pd
        inventory_schema = pd.DataFrame([self.product_id,
                                        self.product_name,
                                        self.date,
                                        self.unit_price,
                                        self.quantity,
                                        self.unit_discount,
                                        self.tax,
                                        self.calc_amount_before_tax(),
                                        self.calc_amount_after_tax()]).transpose()
        inventory_schema.columns = ["product_id","product_name","Date","unit_price","Quantity","unit_discount","Tax","Amount Before Tax", "Amount After Tax"]
        return inventory_schema

In [24]:
inventory = Inventory(300021,
                'Samsung-Refrigerator',
                '08/04/2021',
                200,
                25,
                10,
                0.0522)

In [25]:
inventory.product_id

300021

In [26]:
inventory.product_name

'Samsung-Refrigerator'

In [27]:
inventory.date

'08/04/2021'

In [28]:
inventory.unit_price

200

In [29]:
inventory.quantity

25

In [30]:
inventory.unit_discount

10

In [31]:
inventory.tax

0.0522

In [32]:
inventory.calc_amount_before_tax()

4750

In [33]:
inventory.calc_amount_after_tax()

4750.0522

In [34]:
inventory.return_inventory()

,product_id,product_name,Date,unit_price,Quantity,unit_discount,Tax,Amount Before Tax,Amount After Tax
0,300021,Samsung-Refrigerator,08/04/2021,200,25,10,0.0522,4750,4750.0522

In [35]:
dir(Inventory)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'calc_amount_after_tax',
 'calc_amount_before_tax',
 'return_inventory']

In [36]:
for i in dir(Inventory):
     if (hasattr(Inventory,i)):
            if type(getattr(inventory, i)) is type(getattr(inventory,'__init__')):
                print(getattr(Inventory,i))

<function Inventory.__init__ at 0x0000022F8FD18790>
<function Inventory.calc_amount_after_tax at 0x0000022F8FD188B0>
<function Inventory.calc_amount_before_tax at 0x0000022F8FD18820>
<function Inventory.return_inventory at 0x0000022F8FD18940>

### Check if object is an instance

In [37]:
inventory_fmcg = Inventory(100011,
                'Delmonte Ketchup',
                '09/04/2021',
                5,
                0.25,
                0.10,
                0.0522)

In [38]:
inventory_fmcg.product_id

100011

In [39]:
inventory_fmcg.calc_amount_before_tax()

1.225

In [40]:
inventory_fmcg.calc_amount_after_tax()

1.2772000000000001

In [41]:
inventory_fmcg.return_inventory()

,product_id,product_name,Date,unit_price,Quantity,unit_discount,Tax,Amount Before Tax,Amount After Tax
0,100011,Delmonte Ketchup,09/04/2021,5,0.25,0.1,0.0522,1.225,1.2772

In [42]:
isinstance(inventory_fmcg,Inventory)

True

In [43]:
isinstance(inventory,Inventory)

True

In [44]:
if isinstance(inventory,Inventory):
    display(inventory.return_inventory())
else:
    print("Object reallocated to",  type(inventory), ", please correct it")

,product_id,product_name,Date,unit_price,Quantity,unit_discount,Tax,Amount Before Tax,Amount After Tax
0,300021,Samsung-Refrigerator,08/04/2021,200,25,10,0.0522,4750,4750.0522

In [45]:
inventory = "test"

In [46]:
inventory.return_inventory()

AttributeError: 'str' object has no attribute 'return_inventory'

In [47]:
if isinstance(inventory,Inventory):
    print(inventory.return_inventory())
else:
    print("Object reallocated to",  type(inventory), ", please correct it")

Object reallocated to <class 'str'> , please correct it

### Check if object is a subclass

In [48]:
class FMCG:
    def __init__(self,supplier_name,supplier_code,supplier_address,supplier_contract_start_date,\
                 supplier_contract_end_date,supplier_quality_code):
        self.supplier_name = supplier_name
        self.supplier_code = supplier_code
        self.supplier_address = supplier_address
        self.supplier_contract_start_date = supplier_contract_start_date
        self.supplier_contract_end_date = supplier_contract_end_date
        self.supplier_quality_code = supplier_quality_code
        
    def get_supplier_details(self):
        supplier_details = {
           'supplier_name': self.supplier_name, 
            'supplier_code': self.supplier_code,
            'supplier_address': self.supplier_address,
            'ContractStartDate': self.supplier_contract_start_date,
            'ContractEndDate': self.supplier_contract_end_date, 
            'QualityCode': self.supplier_quality_code
        }
        return supplier_details

In [49]:
fmcg = FMCG('Test Supplier','a0015','5093 9th Main Street, Pasadena,California, 91001', '05/04/2020', '05/04/2025',1)

In [50]:
fmcg.get_supplier_details()

{'supplier_name': 'Test Supplier',
 'supplier_code': 'a0015',
 'supplier_address': '5093 9th Main Street, Pasadena,California, 91001',
 'ContractStartDate': '05/04/2020',
 'ContractEndDate': '05/04/2025',
 'QualityCode': 1}

In [51]:
class Condiments(FMCG,Inventory):
    def __init__(self,*inventory):
        self.product_id = inventory[0]
        self.product_name = inventory[1]
        self.date = inventory[2]
        self.unit_price = inventory[3]
        self.quantity = inventory[4]
        self.unit_discount = inventory[5]
        self.tax = inventory[6]
        self.supplier_name = inventory[7]
        self.supplier_code = inventory[8]
        self.supplier_address = inventory[9]
        self.supplier_contract_start_date = inventory[10]
        self.supplier_contract_end_date = inventory[11]
        self.supplier_quality_code = inventory[12]
        
    def return_condiment_inventory(self):
        import pandas as pd
        inventory_schema = pd.DataFrame([self.product_id,
                                        self.date,
                                        self.unit_price,
                                        self.quantity,
                                        self.unit_discount,
                                        self.tax,
                                        self.calc_amount_before_tax(),
                                        self.calc_amount_after_tax(),
                                        self.get_supplier_details()
                                       ]).transpose()
        inventory_schema.columns = ["product_id","Date","unit_price","Quantity","unit_discount","Tax","Amount Before Tax", 
                                   "Amount After Tax",'supplier_details']
        return inventory_schema

In [52]:
ketchup = Condiments(100011,'Delmonte Ketchup','09/04/2021',5,0.25,0.10,
                0.0522,'Test Supplier','a0015','5093 9th Main Street, Pasadena,California, 91001', '05/04/2020', '05/04/2025',1)

In [53]:
ketchup.return_condiment_inventory()

,product_id,Date,unit_price,Quantity,unit_discount,Tax,Amount Before Tax,Amount After Tax,supplier_details
0,100011,09/04/2021,5,0.25,0.1,0.0522,1.225,1.2772,"{'supplier_name': 'Test Supplier', 'supplier_c..."

In [54]:
issubclass(FMCG,Inventory)

False

In [55]:
issubclass(Condiments,FMCG)

True

In [56]:
issubclass(Condiments,Inventory)

True

In [57]:
if issubclass(Condiments,FMCG):
    fmcg = Condiments(100011,'Delmonte Ketchup','09/04/2021',5,0.25,0.10,
                0.0522,'Test Supplier','a0015','5093 9th Main Street, Pasadena,California, 91001', 
                      '05/04/2020', '05/04/2025',1)
else:
    fmcg = FMCG('Test Supplier','a0015','5093 9th Main Street, Pasadena,California, 91001', 
                '05/04/2020', '05/04/2025',1)

display(fmcg.get_supplier_details())

{'supplier_name': 'Test Supplier',
 'supplier_code': 'a0015',
 'supplier_address': '5093 9th Main Street, Pasadena,California, 91001',
 'ContractStartDate': '05/04/2020',
 'ContractEndDate': '05/04/2025',
 'QualityCode': 1}

### Understanding the usage of property

In [58]:
test_property = property()

In [59]:
test_property

In [60]:
class TestPropertyClass:
    def __init__(self):
        self._test_attr = None

    def get_test_attr(self):
        print("get test_attr")
        return self._test_attr

    def set_test_attr(self, value):
        print("set test_attr")
        self._test_attr = value

    def del_test_attr(self):
        print("del test_attr")
        del self._test_attr

    test_attr = property(get_test_attr, set_test_attr, del_test_attr, "test_attr is a property")

In [61]:
test_property_object = TestPropertyClass()

In [62]:
test_property_object.test_attr

get test_attr

In [63]:
test_property_object.test_attr = 1980

set test_attr

In [64]:
test_property_object.test_attr

get test_attr

1980

In [65]:
del test_property_object.test_attr

del test_attr

In [66]:
test_property_object.test_attr

get test_attr

AttributeError: 'TestPropertyClass' object has no attribute '_test_attr'

### Using property as decorator

In [67]:
class TestPropertyClass:
    def __init__(self):
        self._test_attr = None
        
    @property
    def test_attr(self):
        return self.test_attr
    
    @test_attr.getter
    def test_attr(self):
        print("get test_attr")
        return self._test_attr

    @test_attr.setter
    def test_attr(self, value):
        print("set test_attr")
        self._test_attr = value

    @test_attr.deleter
    def test_attr(self):
        print("del test_attr")
        del self._test_attr

In [68]:
test_property_object = TestPropertyClass()

In [69]:
test_property_object.test_attr

get test_attr

In [70]:
test_property_object.test_attr = 1982

set test_attr

In [71]:
test_property_object.test_attr

get test_attr

1982

In [72]:
del test_property_object.test_attr

del test_attr

### These are all the examples covered in Chapter 5